@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@78.5,200;100,200&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

h4 {
    font-family: Inconsolata;
    margin: 20px 0px 0px 20px;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

img {
    height: 400px;
    width: 450px;
    padding-left: 100px;
}

.text {
    font-family: 'Space Mono';
    padding-left: 350px;
}

button {
    font-family: 'Space Mono';
    background-color: #333333;
    color: white;
    padding: 10px;
}

h1 {
    font-size: 64px;
}

.para {
    font-size: 24px;
}

center {
    margin-top: 90px;
    
}

a{
    text-decoration: none;
}


@media screen and (max-width: 550px) {



    .container {
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
      
        /* flex-wrap: wrap; */
    }

    img {
        height: 250px;
        width: 250px;
        padding-left: 10px;
        
        margin-top: -160px;
    }

    h1 {
        font-size: 40px;
        
    }

    .para {
        font-size: 15px;
    }

    .text {
        height: 73vh;
        padding-left: 40px;
       
        margin-top: -800px;
    }

    center{
        margin-top: -387px;
    }

    
}
