@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@78.5,200;100,200&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h4 {
    font-family: 'Inconsolata';
    margin: 20px 0px 0px 20px;
}

.img {
    width: 539.22px;
    height: 414.25px;
}

.text {
    text-align: justify;

}

h1 {
    font-family: Space Mono;
    font-size: 70px;
    text-align: center;
}

.para {
    font-family: Space Mono;
    font-size: 24px;
    text-align: center;
}

button {
    background-color: #333333;
    font-family: Space Mono;
    padding: 15px 32px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 60%;
}

center {
    opacity: 0.6;

}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 130px;

}

@media screen and (max-width: 550px) {
    .img {
        width: 400px;
        height: 400px;
    }


    .container {
        display: flex;
        flex-direction: column;
    }

    .text {
        text-align: justify;
        width: 400px;

    }

    button {
        background-color: #333333;
        font-family: Space Mono;
        padding: 15px 32px;
        color: white;
        cursor: pointer;
        position: absolute;
        left: 80%;
    }

   

}